@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #5f9ea0, #39a2ba, #0ba3d8, #3ca0f2, #8195ff, #9094ff, #9e93ff, #ac92ff, #89a1ff, #62adff, #38b7ff, #00bfff);
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(25,255,255, 0.4);
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .btn{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: 500;
}

.wrapper .sign-in{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.sign-in p a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;

}

.sign-in a:hover{
    text-decoration: underline;
}

@media (min-width: 319px) and (max-width: 480px) {
    body{
        background-image: linear-gradient(to left top, #be66f5, #b263f0, #a560eb, #995de6, #8c5ae1, #8a59dd, #8959da, #8758d6, #8f5ad3, #975cd1, #9e5ece, #a460cc);
    }
}
@media (min-width: 481px) and (max-width: 1200px) {
    body{
        background-image: linear-gradient(to left bottom, #2f1049, #351257, #3a1565, #3e1874, #411c83, #411c83, #421b83, #421b83, #401773, #3c1364, #381056, #320e48);
    }
}
@media (min-width: 1201px) and (max-width: 1600px) {
    body{
        background-image: linear-gradient(to right top, #5f9ea0, #39a2ba, #0ba3d8, #3ca0f2, #8195ff, #9094ff, #9e93ff, #ac92ff, #89a1ff, #62adff, #38b7ff, #00bfff);
    }
}
@media (min-width: 1601px) {
    
    body{
        background-image: linear-gradient(to right bottom, #5cb3f6, #21c3fc, #00d2f9, #00dfef, #00ebde, #00ebe1, #00ebe3, #00ebe6, #00defa, #00cfff, #51beff, #86aafb);
    }
}
